    <div id="PageMenuLogin">
    
   
        
            <a href="{% url 'account_signup' %}" >
                <div class="login-menu login-menu-register" id="register" >REJESTRACJA UŻYTKOWNIKA</div>
            </a>
                
        
            <a href="{% url 'account_login' %}" >
            <div class="login-menu login-menu-login"  id="login" >LOGOWANIE UŻYTKOWNIKA</div>
            </a>
        
            <a href="{% url 'account_signup' %}" >
            <div class="login-menu login-menu-doctor"   id="doctor" >LOGOWANIE  LEKARZA</div>
            </a>
        
    
    
 </div>
