


@media (min-width: 1210px) and (max-width: 1410px) { 
    #PageMenuLogin {
             width: 96%;
             padding-left: 20px;
             padding-right: 20px;
             padding-top: 40px;
             padding-bottom: 40px;
            margin-right: auto;
            margin-left: auto;


            

            border-radius: 15px 15px 15px 15px;
    }
        
        div.menuMain {
            width: 100%;
            height: 90px;

            font-size: 25px;
            font-weight: bold;
            font-family: 'Amita';
            text-align: center;
            padding: 10px;
            padding-top: 7%;
            border-radius: 25px 25px 25px 25px;


        }


        div.tableUser {
            width: 70%;
            margin-left: auto;
            margin-right: auto;


        }
        td.input_lg {
            height: 70px;
        }
        td.buttonUser {
            text-align: center;
        }
        .btn-primary {

            width: 40% !important;
            height: 60px !important;
        }

        div.titleRegister {
            border-radius: 17px 17px 0px 0px;

            width: 100%;
            height: 42px;
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        div.titleUser {
            border-radius: 17px 17px 0px 0px;

            width: 100%;
            height: 42px;
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        div.titleDoctor {
            border-radius: 17px 17px 0px 0px;

            width: 100%;
            height: 42px;
            padding: 5px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
        }
        td.tableRegister {
            text-align: center;
            font-size: 25px;

        }
        #PageRegister {
            width: 80%;

            margin-right: auto;
            margin-left: auto;




            border-radius: 15px 15px 15px 15px;
        }
        #PageLogin {
            width: 80%;

            margin-right: auto;
            margin-left: auto;
   
            min-height: 50%;


            border-radius: 15px 15px 15px 15px; 
            
        }
        #error {
         
            text-align: center;
            font-weight: bold;
        }

    .nounderline {
      text-decoration: none !important
    }
}