    div.titleAllSettings {
        clear: both;
        margin-left: auto;
        margin-right: auto;

    }


    div.titleSettingsAll {
        float: left;
    }
    .hrefSettingCursor {
        cursor: pointer;
    }
    div.selectedMenu {
        background-color: red;
    }
    div.centerPercent {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: center;
    padding-bottom: 10px;




}

div.plusMinusButton {
    width: 40px;
    height: 40px;
    border-radius: 12px;
}
div.addPlusButton {
    width: 60px;
    height: 60px;
    border-radius: 12px;
}


.ui-autocomplete {
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;   
    padding: 4px;
    margin: 5px;
    margin: 0 0 10px 25px;
    list-style: none;

    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    *border-right-width: 2px;
    *border-bottom-width: 2px;
    overflow-y: scroll; 
    max-height: 250px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    
    white-space: nowrap;
    text-decoration: none;
}
.ui-menu-item-wrapper {
    padding: 4px;
}
.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    padding: 4px;
}

.ui-helper-hidden-accessible {
    display: none;
}