@media (min-width: 1210px) and (max-width: 1410px) { 
    #calendar {
        width: 90%;
    }

    input {
        height: 40px;
        
    }
div.actionMain {

    margin: 10px;
    padding: 7px;

    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
    cursor:pointer;
}

div.hiddenMoodEdit {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-height: 220px;;
    text-align: center;
  
}



div.actionMainselected {

    margin: 10px;
    padding: 7px;

    text-align: center;
    font-size: 19px;
    font-weight: bold;
    border-radius: 20px;
    cursor:pointer;
}
        td.widthMoodAdd {
            width: 35%;
        }
        table.kalendar {

            opacity: none;
        border-spacing: 1px;
        border-collapse: separate;
        width: 950px;
        height: 620px;



        }
        div.scroll {
            overflow-y: scroll; 
            height:380; 

        }

        div.titleMood {
                border-radius: 17px 17px 0px 0px;
                
            
                width: 100%;
                height: 42px;
                padding-top: 6px;
                padding-left: 4%;
                font-size: 20px;
   
                text-align: center;
        }





        div.NotShow {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            height: 70px;
            font-size: 27px;
            text-align: center;
            padding-top: 14px;
            margin-top: 10px;
            border-radius: 20px;

        }
        div.formAddMood {

            border-radius: 17px 17px 17px 17px;
        }
        
        table.kalendar  tr:nth-child(6){ /* tr:nth-child(5):last-of-type */
            height: 100px;
        }
        span.kalendar {
            font-size: 20px;

        }
        span.kalendarBig {
            font-size: 25px;

        }
        span.HourMood {
            font-size: 20px;

           
        }
        .btn-success {

                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-success:hover {

                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-primary {
    
                font-size: 19px !important;
                font-weight: bold !important;
        }
        .btn-primary:hover {
            
                font-size: 19px !important;
                font-weight: bold !important;
        }
        
        
       
        div.cell_active {

            border-radius: 15px;
            height: 100%;
        
            padding-top: 25%;

        }
        div.cell_selected {

           
            border-radius: 20px;
            height: 100%;
            padding-top: 25%;
            cursor: pointer;
        }

        div.cell10000 {
          
         
            border-radius: 0 !important;
            box-shadow: 0 0 0 0 !important;


        }
        div.howAction {
            margin: 8px 0px 0 80px;
            font-size: 20px;
         
        }
  
        .trCalendar {
            height: 100px;

        }
        .tdCalendar {
            height: 100px;
            width: 12%;
            
        }



        button.calendar {
                
                border: solid 1px transparent;
                
                padding-top: 13px;
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 13px;
                width: 200px;
                
                border-radius: 12px;
                height: 65px;
                text-align: center;
                display: inline-block;
                font-size: 21px;
                font-weight: bold;
               
        }
        button.calendar:hover {
              
                border-radius: 12px;
                text-align: center;
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
        }
        button.main {
                
                border: solid 1px transparent;
                
                padding-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 10px;
                width: 150px;
             
                border-radius: 12px;
                height: 55px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
              
        }
        button.MainEdit {
            border: solid 1px transparent;
                
                padding-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 10px;
                width: 200px;
            
                border-radius: 12px;
                height: 55px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
          
        }
        button.MainEdit:hover {
            border: solid 1px transparent;
                
                padding-top: 10px;
                padding-left: 5px;
                padding-right: 5px;
                padding-bottom: 10px;
                width: 200px;
             
                border-radius: 12px;
                height: 55px;
                text-align: center;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
            
        }

        .nounderline {
          text-decoration: none !important
        }
        
        
        
        div.menuSelectAddMain {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            display:flex;
            padding-left: 2%;
            padding-right: 2%;
            
                
        }


        #showmood {
            width: 93%;

            min-height: 350px;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        #showdrugs {
            width: 80%;

            min-height: 350px;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        #showaction {
            width: 70%;

            min-height: 350px;
            border-radius: 25px;
            margin-left: auto;
            margin-right: auto; 
        }
        div.menuMood {
           width: 20%;
           margin-left: 1px;
           margin-right: 1px;
           text-align: center;
           font-size: 18px;

           border-radius: 25px 25px 0px 0px;
           cursor:pointer;

           

        }




        div.sumAction {
           width: 400px;
            height: 200px;

            border-radius: 20px;
            padding: 22px;
            margin-left: auto;
            margin-right: auto;       
        }



        div.showLink {
            width: 800px;
            height: 100px;
            margin-left: auto;
            margin-right: auto;
            clear: both;
            
            
        }


        div.linkShow {
           
            width: 250px;
            text-align: center;
            height: 65px;
            padding-top: 13px;
            font-size: 22px;
            border-radius: 20px;

            font-weight: bold;
            float: left;
            margin-left: 10px;
            cursor: pointer;
        }



        hr.drugs {

margin-left: auto;
margin-right: auto;
        }
                       div.lineAverage {
            width: 55%;
            height: 23px;
            border-radius: 10px;
            margin-left: auto;
            margin-right: auto;
              margin-bottom: 12px;
            
        }
       
}