@media (min-width: 1810px) {
    div.titleSearch {

        width: 55%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 35px;
        min-height: 100px;
        padding-top: 20px;
        border-radius: 25px;

    }

       div.titleSettingsAll {
        margin: 20px;
        width: 42%;
        text-align: center;
        min-height: 50px;
        padding-top: 11px;
        border-radius: 15px;
        margin-right: 90px;

    }
       div.pageDrugs {
        width: 1400px;
        min-height: 200px;
    }
        div.hrefDrugs {
        float: left;
        margin: 15px;
        padding: 10px;
        border-radius: 20px;
    }
    div.titleAllSettings {
        width: 100%;
        margin-left: auto;
        margin-right: auto;



    }
        div.pageMood {
        min-height: 190px;
        width: 1400px;
    }
        div.pagepagepage {
        padding: 20px;
        padding-left: 45px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        clear: both;
    }
    div.hrefMood {
        float: left;
        margin: 15px;
        padding: 10px;
        border-radius: 20px;
    }
        .titleDrugsSettings {
        border-radius: 20px 20px 0px 0px;
        text-align: center;
        min-height: 30px;
        font-weight: bold;
        font-size: 20px;
    }
    
        div.pagepage {



        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        clear: both;

    }
    #searchMoodDiv {
        min-height: 200px;
        width: 1200px;
        margin-top: 15px;


    }
    #searchSleepDiv {
        min-height: 200px;
        width: 1200px;
        margin-top: 15px;


    }
    #differenceDrugsSleepDiv {
        min-height: 200px;
        width: 1200px;
        margin-top: 15px;


    }
    #sumActionDayDiv {
        min-height: 200px;
        width: 1200px;
        margin-top: 15px;
    }
        div.dateSumDayMood {
    height: 90px;
    width: 31%;
    float: left;
    border-radius: 25px;
    margin: 11px;
}
div.dateSumMoodDrugs {
       min-height: 90px;
    width: 32%;
    float: left;
    border-radius: 25px;
    margin: 11px;
}
div.dateSumDayMoodAverageDayWeek {
    min-height: 90px;
    width: 31%;
    float: left;
    border-radius: 25px;
    margin: 11px;
}
    div.dayWeekDiv {
    width: 25%;
    float: left;


}
div.dayOne {
    float: left;
    width: 75%;
}
div.dayOne2 {
    float: left;





}
    #averageMoodSumDiv {
        min-height: 200px;
        width: 1200px;
        margin-top: 15px;


    }
    #differencesMoodDiv {
        min-height: 200px;
        width: 1200px;
        margin-top: 15px;
    }
    #searchDrugsDiv {
        min-height: 200px;
        width: 1200px;
        margin-top: 15px;
    }
    #searchDrugsMoodDiv {
        min-height: 200px;
        width: 1400px;
        margin-top: 15px;
    }
    #sumHowHMoodDiv {
        min-height: 200px;
        width: 1300px;
        margin-top: 15px;
    }
    .titleMoodSettings {

        border-radius: 20px 20px 0px 0px;
        text-align: center;
        min-height: 30px;
        font-weight: bold;
        font-size: 20px;
    }
    table.searchTableMood {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        font-size: 20px;
    }
    table.searchTableDrugs {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        font-size: 20px;
    }
    div.tableSearchMood {
        width: 98%;
    min-height: 350px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;


    }
    
    button.buttonSearch {
        float: left; margin-right: 10px;
    }
   
}
