
     td.moodadd {
                   
        color: #383824;
    
      
    }

div.actionMain {
    background-color: rgb(153 175 24);
 
    color: #126e06;
 
}




div.actionMainselected {
    background-color: rgb(238, 197, 15);
  
    color: #126e06;

}




    div.borderDrugs {
         border: 2px solid  rgba(14, 74, 3, 1);
         box-shadow: 0 30px  30px 15px  rgba(65, 109, 52, 0.45);


    }
    div.borderMood {
         border: 2px solid rgb(163 109 12);
         box-shadow: 0 30px  30px 15px rgba(12, 37, 36, 0.35);


    }

    div.borderSleep {
         border: 2px solid #2a053d;
         box-shadow: 0 30px  30px 15px rgba(47, 40, 86, 0.35);



    }
    div.borderAction {
         border: 2px solid rgb(153 175 24);
         box-shadow: 0 30px  30px 15px rgba(42, 107, 102, 0.3);

 
    }



        




 
        div.NotShow {
         
            box-shadow: 5px 5px 4px 1px #5B7235;
            color: white;
            background-color: #FB2A17;
        }
        div.formAddMood {
     
           background-color: rgba(158, 158, 131, 0.73);
        }
        
    
        span.kalendar {
           
            color: #404803;
        }
        span.kalendarBig {
            
            color: #404803;
        }

        div.cell_active {

            background-color: #2bd0b8;
         
            color: #524504;
          

        }
        div.cell_selected {

            background-color: yellow;
           
        }

        div.cell10000 {
          
            background-color: #ccd16b;
           


        }
        div.howAction {
        
            color: #0B3693;
        }
        a.no_active {
            color: #6A720C;
        }


            div.menu {
          
            color: white;
         

        }


        button.calendar {
                background-color: #db5830; 
               
                border-color: #952908;
            
                color: white;
         
                box-shadow: 6px 6px 6px #da886f;
        }
        button.calendar:hover {
                background-color: yellow; 
                color: white;
                border-color: #C29713;
            
        }
        button.main {
                
          
                color: white;
           
                box-shadow: 6px 6px 6px #32370f;
        }
        button.MainEdit {
         
                color: white;
     
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.MainEdit:hover {
         
                color: white;
          
                box-shadow: 6px 6px 6px #F4E375;
        }
        button.main:hover {
                
                color: white;
                border-color: #C29713;
        
        }
        button.main-long {
         
                color: white;
        
                box-shadow: 6px 6px 6px #32370f;
        }
        button.main-long:hover {
                
                color: white;
               
       
        }
 

        button.small:hover {
                
                color: white;
                
         
        }

        button.danger:hover {
                background-color: #F92900;
                color: white;
                border-color: #C29713;
          
             
        }

     
        
        
        
     
   
   
        #showmood {
            
            background-color: rgb(163 109 12);
       
        }
        #showdrugs {
           
            background-color: rgb(215 255 201);
      
        }
        #showaction {
           
            background-color: rgba(210, 210, 44, 0.61);

        }
       

        div.sumMood {
            
          background-color: rgb(179 150 72);
         
        }

        div.sumAction {
     
            background-color: rgb(193 207 68);
     
        }






        div.linkShow {
           

            color: white;
     
        }



        hr.drugs {
height: 1.0em; width: 80%; border: 1px solid #942314;

        }
 
        div.hourPlan {
            
            background-color: #6C54E2;
          
            color: #D4EC1C;
            box-shadow: 1px 6px 8px 2px rgba(28,33,77,0.76);
           
        }

                div.errorMainMessagesmall {
            color: white;
     
            background-color: red;
      
            box-shadow: 6px 0  20px 8px rgba(127, 15, 15, 0.8);
            
        }
                div.disable {
            background-color: #D92A2A;
        
        }

#calendar {
    
    box-shadow: 0px 31px 17px -6px rgba(64,66,29,0.7);

}



    div.bodyDiv {
        
        background-image: url('../tlo.png'); /* from http://subtlepatterns.com */
    }



        button.danger {
            box-shadow: 6px 6px 6px #32370f;
            background-color: red;
            color: white;
        }
        
        
        
        button.updateAction {
            box-shadow: 6px 6px 6px #0b668f;
            background-color: #1482b4;
            color: white;
        }
        
                        button.danger:hover {
     box-shadow: 6px 6px 6px #32370f;
            background-color: red;
            color: white;
            border-color: #7E0705;
            
        }
                button.btn-actionDay {
            box-shadow: 6px 6px 6px #2f4100;
            background-color: #757000;
            color: white;
        }
                button.btn-actionDay:hover {
            box-shadow: 6px 6px 6px 2f4100;
            background-color: #c46915;
            
            color: white;
        }
span.warning {
    color: #CA0606;
 
}


div.descriptionModShowSleep {
    background-color: #7A26C9;

    color: white;

}




div.moodSelected {
  

           color: #dadd4a;
}



div.typeOfPortion {
    background-color: #56B392;
    color: white;
}


table.drugsShow {

    background-color: rgba(123, 138, 119, 0.5);
    color: #775807;

}





div.descriptionDrugsShow {
    background-color: #659e6b;

    color: white;

}
        div.linkSelected {
           color: #d0c57a;
           border:  2px solid #c7c8b8;
          
        }





span.fontMoodNot {
  
    color: #2a053d;
}



thead.titleTheadDrugs {

    background-color: #8dc882;
}
td.moodButton {
   
     border-left: 2px solid #0C5204;
   border-right: 2px solid #0C5204;
   border-bottom: 2px solid #0C5204;
    
}


td.drugsTd {
    color: #004208;
}








        
   
        
        
        div.sumAverage {
            -webkit-box-shadow: 0px 0px 17px -5px rgba(3, 70, 22, 1);
-moz-box-shadow: 0px 0px 17px -5px rgba(3, 70, 22, 1);
box-shadow: 0px 0px 17px -5px rgba(3, 70, 22, 1);
            background-color: #659e6b;
        }
        div.titleAverage {
            background-color: #19B846;
        }
        
        div.averageDiv {
                 -webkit-box-shadow: 0px 0px 17px -5px rgba(3, 70, 22, 1);
-moz-box-shadow: 0px 0px 17px -5px rgba(3, 70, 22, 1);
box-shadow: 0px 0px 17px -5px rgba(3, 70, 22, 1);
            background-color: #70cb79;
            color: #676C03;
        }
        
        div.averageNr1 {
            background-color: rgba(164, 53, 19, 0.84);
            color: white;
        }
        div.averageNr2 {
            background-color: rgba(164, 53, 19, 0.57);
            color: white;
        }
        div.averageNrEnd {
            background-color: rgba(164, 53, 19, 0.42);
            color: white;
        }
        
        div.lineAverage {
    box-shadow: 0 0 4px 1px #5c5b04;
            background-color: #ACD67A;
          
        }