div.titleSearch {


        color: #6f3317;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);

background-color: rgb(180, 165, 26);

    }

            div.sumMood {

            background-color: rgb(179 150 72);

        }
div.descriptionDrugsShow {
    background-color: #609300;

    color: white;

}
        div.titleSettingsMood {

        color: white;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
background-color: rgb(212, 230, 25);

    }
    div.titleSettingsDrugs {

        color: white;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
background-color: rgb(68, 145, 5);

    }


    div.pageMood {
                color: #F8FC02;
-webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
background-color: #c2b458;

    }


    div.hrefMood {
             color: #d5ce92;

-webkit-box-shadow: 0px 0px 39px -8px rgba(12, 12, 9, 1);
-moz-box-shadow: 0px 0px 39px -8px rgba(12, 12, 9, 1);
box-shadow: 0px 0px 39px -8px rgba(12, 12, 9, 1);
background-color: rgba(70, 65, 31, 1);

    }
    div.hrefDrugs {
             color: #c0f469;
-webkit-box-shadow: 0px 0px 29px 3px rgba(96, 134, 96, 1);
-moz-box-shadow: 0px 0px 29px 3px rgba(96, 134, 96, 1);
box-shadow: 0px 0px 29px 3px rgba(96, 134, 96, 1);

background-color: rgba(32, 70, 0, 1);

    }

    div.selectedMenuMoodHref {
                    color: #fff1bf;
-webkit-box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
-moz-box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
background-color: rgba(148, 110, 43, 1);
background-image: linear-gradient(90deg, rgba(148, 110, 43, 1) 36%, rgba(80, 71, 12, 1) 100%);
    }

    .bodyMoodPage {
                        color: #878507;
-webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
background-color:  #8c8765;
    }
    .bodyDrugsPage {
                        
-webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
background-color: #679d64;      
    }
        .titleMoodSettings {
            color: #dbd49f;
background-color: rgba(70, 65, 31, 1);
background-image: linear-gradient(180deg, rgba(70, 65, 31, 1) 28%, rgba(140, 135, 101, 1) 88%);

    }
        .titleDrugsSettings {
            color: #d4f697;
background-color: rgba(6, 8, 3, 1);
background-image: linear-gradient(180deg, rgba(6, 8, 3, 1) 19%, rgba(103, 157, 100, 1) 87%);

    } 

    table.searchTableMood {
        color: #ebe3ad;
    }
    table.searchTableDrugs {
        color: #004208;
    }
    div.plusButton {
    background-color: #60CEF0;
}
div.minusButton {
    background-color: #F76868;
}
    div.selectedMenu {
       color: #FEA043;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
background-color: #9c5300;

border: 2px solid #450e02; 
font-weight: bold;
    }

    div.countSearch {

                -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);

    }
    div.notError {
        background-color: rgba(103, 91, 63, 1);
        color: #d1d1c6;
    }
    div.error {
        background-color: #E4643E;
        color: #9B0707;
    }
    div.tableSearchMood {
        background-color: rgb(255 255 201 / 89%);
            border: 2px solid rgb(163 109 12);
    box-shadow: 0 30px 30px 15px 0 30px 30px 15px rgb(12 37 36 / 35%);
    }
    div.titleSearchResultMood {
            background-color: rgb(163 109 12);
    color: white;
    }

    .dayMood {
        background-color: #d5c06a;

color: #504e1c;

    }

div.dayWeekDivAverage {
   background-color: #934115;
    color: #ceaa4d;

}
div.dayWeekDivAverageOne {
    background-color: #b7a82f;
    color: #684c1a;
}
tr.borderTrAverageTitle {
    background-color: #80785c;
    border-color: #4f4317;
}
div.titleWeek {
color: rgba(241, 241, 147, 1);
background-color: rgba(114, 117, 79, 1);
background-image: radial-gradient(circle, rgba(105, 105, 56, 1) 50%, rgba(130, 121, 102, 0.6) 92%);

}
tr.borderTrAverage {
    background-color: #bfbf97;
    border-color: #4f4317;
}
.rightBorder {
    border-color: #4f4317;
    color: #4a3d09;
}
div.averageSumDiv {
    background-color: #d5c99b;
    -webkit-box-shadow: inset 0px 0px 33px -10px #6c623a;
    -moz-box-shadow: inset 0px 0px 33px -10px #6c623a;
    box-shadow: inset 0px 0px 33px -10px #6c623a;
}
div.sumHowMoodResultDiv {
    background-color: #d5c99b;
    -webkit-box-shadow: inset 0px 0px 33px -10px #6c623a;
    -moz-box-shadow: inset 0px 0px 33px -10px #6c623a;
    box-shadow: inset 0px 0px 33px -10px #6c623a;
}
div.titleSearchSumDay {
    background-color: #1F6C13;
    border: 2px solid #319701;

}
div.titleSearchSumDayMood {
    background-color: #ab8244;
    border: 2px solid #ab8244;
}
span.fontSearchSumDay {
    color: #684c1a;
}
span.titleSearchSumDay {
    color: #E5E484;
}
span.titleSearchSumDayMood {
    color: #EBFABC;
}
    .dayMoodEnd {
                background-color: #d5c06a;


color: #4F9805;
    }
.dayDrugs {
    background-color: rgba(14, 74, 3, 1);

    color: #FAD82D;

}

.dayDrugsEnd {
    background-color: rgba(14, 74, 3, 1);


    color: #FAD82D;
}
    div.hr {
        background-color: #7D7B11;
-webkit-box-shadow: inset 0px 0px 29px -15px rgba(6, 37, 7, 1);
-moz-box-shadow: inset 0px 0px 29px -15px rgba(6, 37, 7, 1);
box-shadow: inset 0px 0px 29px -15px rgba(6, 37, 7, 1);
    }

    div.pageDrugs {
                color: #F8FC02;
-webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
background-color: #679d64;  
    }
div.moodSearchResult {
    background-color: rgb(217 186 119 / 60%);
    border: 2px solid #d5c06a;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(63, 76, 8, 1);
-moz-box-shadow: 0px 0px 30px 0px rgba(63, 76, 8, 1);
box-shadow: 0px 0px 30px 0px rgba(63, 76, 8, 1);

}
div.drugsSearchResult {
    background-color: rgba(96, 146, 79, 1);
    border: 2px solid rgba(14, 74, 3, 1);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(63, 76, 8, 1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(63, 76, 8, 1);
    box-shadow: 0px 0px 30px 0px rgba(63, 76, 8, 1);
}
div.dateSumDay {
    background-color: #0FB62B;
    border: 2px solid #319701;
    -webkit-box-shadow: inset 0px 0px 24px -8px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 0px 0px 24px -8px rgba(66, 68, 90, 1);
    box-shadow: inset 0px 0px 24px -8px rgba(66, 68, 90, 1);
}
div.dateSumDayMood {
    background-color: #edcc72;
    border: 2px solid #ab8244;
    -webkit-box-shadow: inset 0px 0px 24px -8px rgba(158, 200, 31, 1);
    -moz-box-shadow: inset 0px 0px 24px -8px rgba(158, 200, 31, 1);
    box-shadow: inset 0px 0px 24px -8px rgba(158, 200, 31, 1);
}
div.dateSumDayMoodAverageDayWeek {
    background-color: #edcc72;
    border: 2px solid #ab8244;
    -webkit-box-shadow: inset 0px 0px 24px -8px rgba(158, 200, 31, 1);
    -moz-box-shadow: inset 0px 0px 24px -8px rgba(158, 200, 31, 1);
    box-shadow: inset 0px 0px 24px -8px rgba(158, 200, 31, 1);
}
div.minutesMood {
    color: white;
}

span.error {
    color: red;
}