        button.danger:hover {
                background-color: #F92900;
                color: white;
                border-color: #C29713;
          
             
        }  
                input.danger,button.danger {
            box-shadow: 6px 6px 6px #F4E375;
            background-color: red;
            color: white;
        }
                input,button.main {
                
          
                color: white;
           
           
        }
        div.groupMainselected {
    background-color: #435041;
  
    color: #CDE1F3;

}
div.groupMainAllGroup {
    background-color: #627968;
 
    color: #CDE1F3;
 
}



        div.substanceMainselected {
    background-color: #435041;
  
    color: #CDE1F3;

}
div.SubstanceMainAllSubstance {
    background-color: #627968;
 
    color: #CDE1F3;
 
}

        button.main:hover {
                
                color: white;
                border-color: #C29713;
        
        }
div.titleSettings {


        color: #ffffff;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
background-color: rgb(7, 95, 29);

    }
    
        div.titleSettingsMood {

        color: #F8FC02;
        -webkit-box-shadow: 0px 0px 25px -5px #1d5414;
-moz-box-shadow: 0px 0px 25px -5px #1d5414;
box-shadow: 0px 0px 25px -5px #1d5414;
background-color: rgba(128, 120, 16, 1);
background-image: radial-gradient(circle, rgba(28, 126, 51, 1) 7%, rgba(89, 154, 69, 1) 52%);
    }
    div.titleSettingsDrugs {

        color: #94ff86;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
background-color: rgba(128, 120, 16, 1);
background-image: radial-gradient(circle, rgba(28, 126, 51, 1) 7%, rgba(89, 154, 69, 1) 52%);
    }   
    div.titleSettingsUser {
        color: #F8FC02;
        -webkit-box-shadow: 0px 0px 25px -5px #1d5414;
-moz-box-shadow: 0px 0px 25px -5px #1d5414;
box-shadow: 0px 0px 25px -5px #1d5414;
background-color: rgba(128, 120, 16, 1);
background-image: radial-gradient(circle, rgba(28, 126, 51, 1) 7%, rgba(89, 154, 69, 1) 52%);
    }
    div.selectedMenu {
       color: #FEA043;
        -webkit-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
-moz-box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
box-shadow: 0px 0px 25px -5px rgba(47, 88, 28, 1);
background-color: rgba(167, 43, 17, 1);
background-image: radial-gradient(circle, rgba(167, 43, 17, 1) 0%, rgba(235, 6, 0, 1) 58%);
border: 2px solid #C10804; 
font-weight: bold;
    }
    
        div.pageMood {
                color: #F8FC02;
-webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
background-color: rgb(194, 241, 158);

    }
        .bodyMoodPage {
                        color: white;
-webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
-moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
background-color: rgba(206, 249, 207,0.6);
    }
    .bodyDrugsPage {
        color: white;
        -webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
        background-color: rgba(206, 249, 207,0.6);
    }
    div.pageDrugs {
        color: #F8FC02;
        -webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
        -moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
        box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
        background-color: rgb(194, 241, 158);
    }

        div.hrefMood {
             color: #fffbca;
-webkit-box-shadow: 0px 0px 10px 9px rgba(111, 101, 1, 1);
-moz-box-shadow: 0px 0px 10px 9px rgba(111, 101, 1, 1);
box-shadow: 0px 0px 10px 9px #558627;
background-color: rgba(136, 136, 13, 1);
background-image: linear-gradient(180deg, #92e644 14%, #44a33f 80%);
    }
        div.hrefDrugs {
            color: #b6f5c9;
            -webkit-box-shadow: 0px 0px 10px 9px rgba(111, 101, 1, 1);
            -moz-box-shadow: 0px 0px 10px 9px rgba(111, 101, 1, 1);
            box-shadow: 0px 0px 10px 9px #558627;
            background-color: rgba(136, 136, 13, 1);
            background-image: linear-gradient(180deg, #92e644 14%, #44a33f 80%);
    }
    div.selectedMenuMoodHref {
                    color: #E0FD01;
-webkit-box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
-moz-box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
background-color: rgba(175, 53, 38, 1);
background-image: linear-gradient(90deg, rgba(175, 53, 38, 1) 14%, rgba(171, 120, 111, 1) 80%);
    }
    
    td.tdColorMood {
        color: #1e3524;
    }
    td.tdColorDrugs {
        color: #016916;
    }
            .titleMoodSettings {
            color: #3e5c31;
        background-color: rgba(87, 88, 2, 1);
background-image: linear-gradient(180deg, #62ff62 0%, rgba(100, 163, 51, 1) 100%);

    }
            .titleDrugsSettings {
                color: #3e5c31;
                background-color: rgba(87, 88, 2, 1);
        background-image: linear-gradient(180deg, #62ff62 0%, rgba(100, 163, 51, 1) 100%);

    }
.errorForm {
  border-color: red;
  box-shadow: inset 0 1px 1px rgb(200, 54, 54), 0 0 8px rgb(200, 54, 54);
}

div.plusButton {
    background-color: #60CEF0;
}
div.minusButton {
    background-color: #F76868;
}

        .bodyUserPage {
            color: white;
            -webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
            box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
            background-color: rgba(206, 249, 207,0.6);
    }
    
            div.pageUser {
                color: #F8FC02;
                -webkit-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
                -moz-box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
                box-shadow: 0px 0px 22px -9px rgba(66, 68, 90, 1);
                background-color: rgb(194, 241, 158);

    }
    
        .titleUserSettings {
            color: #3e5c31;
            background-color: rgba(87, 88, 2, 1);
    background-image: linear-gradient(180deg, #62ff62 0%, rgba(100, 163, 51, 1) 100%);
    }
    
        div.hrefUsers {
            color: #fffbca;
            -webkit-box-shadow: 0px 0px 10px 9px rgba(111, 101, 1, 1);
            -moz-box-shadow: 0px 0px 10px 9px rgba(111, 101, 1, 1);
            box-shadow: 0px 0px 10px 9px #558627;
            background-color: rgba(136, 136, 13, 1);
            background-image: linear-gradient(180deg, #92e644 14%, #44a33f 80%);    
    }
    
        div.selectedMenuUsersHref {
            color: #E0FD01;
            -webkit-box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
            -moz-box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
            box-shadow: inset 0px 0px 16px 0px rgba(101, 54, 1, 1);
            background-color: rgba(175, 53, 38, 1);
            background-image: linear-gradient(90deg, rgba(175, 53, 38, 1) 14%, rgba(171, 120, 111, 1) 80%);
    }