@media only screen and  (min-width: 1210px) and (max-width: 1410px) { 
     body {
            padding-top: 60px;
        }
        div.main-menu {

                width: 100%;
                height: 60px;
                position: fixed;
                clear: both;
                padding: 10px;
                top: 0;
                
                
            }
            div.main-menu-position {
            
                height: 60px;
                float: left;
                padding-top: 8px;
                padding-left: 50px;
                
                
            
            }
            div.main-menu-search {
                display: none;
                position: fixed;
                width: 500px;
                
                top: 60px;
                margin: 10px;
                flex-direction: column; 
                flex-wrap: wrap;
                
            }
            div.main-menu-search-title {
               
                padding-right: 60px;
                text-align: center;
                width: 500px;

                
            
            }
            div.main-menu-search-position {
                width: 496px;
                padding-top: 4px;
                padding-bottom: 4px;
            
            }
            div.main-menu-search-position-static {
                width: 496px;
            }
            div.main-menu-settings {
                display: none;
                position: fixed;
                width: 500px;
                
                top: 60px;
                left: 150px;
                margin: 10px;
                flex-direction: column; 
                flex-wrap: wrap;
                
                
            }
            div.main-menu-search-br {
                clear: both;
                
            }
            span.main-menu-search-title {
                font-size: 22px;
            }
            a.main-menu-search-position {
                margin: 15px;
                font-size: 20px;
            }
            a.main-menu-search-position:hover {
                font-size: 20px;
            }
            div.main-menu-position {
               
                font-size: 20px;
                
            }
            a.main-menu-menu {
                
                font-size: 20px;
                
            }
            a.main-menu-menu:hover {
                
                font-size: 20px;
                
            }
            div.main-calendar-cell-border {
                border-radius: 20px;
            
            }
}