
body {
     height: 100%;
     
      
     
}
html, body {
    overflow-x: hidden;
    max-width: 100vw;
    
}


#MainPage {
    overflow-x: hidden;
    padding-top: 50px;
}

#menu {
  top: 0;
  margin-top: 0;
}
  .main-center {
    text-align: center;
}
div.cell {
    
    
    

    cursor: pointer;
}
div.level {
  height: 55px;
  
  padding-top: 16px;
  
  text-align: center;

}

td.main-action-positionAction {
  width: 100%;

  height: 100%;
  margin: 0px;
  font-size: 18px;
  font-weight: bold;
  border-top: solid 1px;
  border-bottom: solid 1px;;
  text-align: center;
}
div.settings-group-hidden-percent {
  display: none;
}