@media   (width < 700px) { 

    div.settings-body-page {
       
          margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    div.settings-title {
        padding-top: 15px;
        margin-top: 50px;
         margin-left: auto;
         margin-right: auto;
         
         text-align: center;
         height: 60px;
         font-size: 19px;
    }
    div.Search-day-week-div {
        
        padding-left: 5px;
        padding-right: 5px;
        text-align: center;
    }
    input.Search-mood-form {
        width: 80px;
    }
     input.Search-mood-form-2 {
        width: 200px;
    }
      input.Search-mood-form-3 {
        width: 40px;
    }
     td.Search-mood-td-1 {
        width: 90px;
    }
    td.Search-mood-td-2 {
        width: 110px;
    }
    td.Search-mood-td-3 {
        width: 30px;
    }
    td.Search-mood-td-4 {
        width: 110px;
    }
    td.Search-mood-td-5 {
        width: 260px;
    }
    div.search-mood-day {
        
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 10px;
        margin-top: 45px;
        margin-left: 10px;
        font-size: 20px;
        
        

    }
    div.settings-body-page-result {
        padding-left: 40px;
        padding-right: 40px;
        margin-left: auto;
        margin-right: auto;
        width: 92%;
    }
    div.search-result {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 21px;

    }

    div.main-mood-show {
        margin-left: auto;
        margin-right: auto;
        
        width: 100%;
        clear: both;
    }
    div.main-mood-show-single-br {
        clear: both;
    }
    div.main-mood-show-single {
        height: 600px;
        padding: 10px;
        width: 100%;
    }
    div.main-mood-show-single-left {
        width: 50%;
        float: left;
        height: 600px;
    }
    div.main-mood-show-single-center {
        float: left;
        width: 42%;
        margin-left: 10px;
        
    }

    div.main-mood-show-single-right {
        width: 100%;
        float: left;
        
    }
    span.font-mood-span {
        font-size: 13px;
    }
    div.main-mood-show-single-button {
        margin-top: 10px;
        
    }
    div.main-mood-show-single-button-all-day {
        margin-top: 10px;
         clear: both;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5px;
        padding-right: 5px;

    }
    div.main-mood-show-description {
        width: 90%;
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        
        
        
        
    }
    div.main-sleep-show-description {
        width: 90%;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        
        
        
        
    }
    div.main-mood-show-action {
        width: 90%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;

        
    }
    div.main-mood-show-drugs {
       
        
        margin-left: auto;
        margin-right: auto;
        margin-top: 45px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        
    }
    td.main-action-positionActionTitle1 {
        text-align: center;
        font-size: 23px;
        font-weight: bold;

    }
    td.main-action-positionActionTitle2 {
        text-align: center;
        font-size: 23px;
        font-weight: bold;


    }
        div.main-mood-show-hidden {
        width: 100%;
      
        margin-left: auto;
        margin-right: auto;
        
        
        

    }
    div.main-action-edit-scroll {
        overflow-y: scroll; 
        height:300px; 

    }
    div.main-mood-add-scroll {

        overflow-y: scroll; 
        height:380; 

    
    }
    div.main-drugs-ajax {
        width: 100%;
        float: left;
        height: 430px;
        
    }
    div.search-mood-day-2 {
        
        
        
        text-align: center;
        margin-left: 30px;
        
        

    }
    div.search-mood-day-all {
        
        
    }
    div.main-mood-sum {
        
        
        
        margin: 5px;
        
    }
    div.main-drugs-sum-over {
        overflow-y: auto;
        height: 100%;
    }
    div.main-drugs-sum {
        width: 400px;
        
        height: 230px;
        
        
    }
    div.search-day-action-all {
        width: 400px;
    }
    div.main-drugs-sum-over {
        overflow-y: auto;
        height: 100%;
    }
    div.main-action-sum {
        
       
        height: 230px;
        float: left;
        
    }
    div.search-all-day {
      
             margin-left: auto;
        margin-right: auto;
        width: 100%;

           

        
    }

    div.search-mood-show-single-sum {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    div.search-mood-average {
        
        margin-left: auto;
        margin-right: auto;
    }
    div.search-mmod-average-title-date {
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    hr.search-mood-average-hr {
        
        margin-left: auto;
        margin-right: auto;
        height: 9px;

    }
    div.search-mood-average-table {
      
        margin-left: auto;
        margin-right: auto;
    }
    .search-mood-average-td-1 {
        width: 12% !important;
    }

    div.search-mood-action-sum {
        overflow-y: scroll; 
        height:390; 
        
    }
    div.main-search-show-single-week {
        
        padding: 10px;
        
        margin-left: auto;
        margin-right: auto;
    }
    div.search-mood-sum-action {
        overflow-y: scroll; 
        height:400px; 
    }
    div.search-mood-day-3 {
        width: 67%;
        height: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        

    }
    div.search-mood-how-minutes {
        
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    div.search-mood-average-date-actionday {
        overflow-y: auto;
        height: 200px;
    }
    div.search-mood-average-date-actionsum {
        overflow-y: auto;
        height: 200px;
    }
    div.search-mood-average-date-substance {
        overflow-y: auto;
        height: 200px;
    }
    table.search-mood-table {
        max-width: 360px;
        table-layout: fixed;
    }
    table.search-mood-table-average {
        
    }
    .search-mood-average-center {
        width: 5px !important;
        font-size: 8px;
    }
    div.positionAction {
        min-height: 100px;
        text-align: center;
        padding-top: 28px;
    }
  
    div.position-action-td {
        text-align: center;
        padding-top: 14px;
    }
    div.search-mood-average-date-hidden {
        width: 300px;

    }
    div.Search-mood-form-4 {
        width: 200px;
        
    }
        div.main-mmod-show-day {
            margin-left: 27px;
        
        width: 300px;
        
       
        
    }
    div.main-mmod-show-day-one {
        clear: both;
        width: 100%;
    }
    button.main-mmod-show-day-one {
        width: 100%;
        margin: 3px;
    }
       button.main-mmod-show-day-all-button {
        width: 100%;
    }
 
}