<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% load static %}

{%  include "../layout/head.html" %}
      <link href="{%  static 'styles/'|add:user.css|add:'/css/pageMainwidth1810.css'    %}" rel="stylesheet">
        <link href="{%  static 'styles/'|add:user.css|add:'/css/pageMainwidth1410.css' %}" rel="stylesheet">
        <link href="{%  static 'styles/'|add:user.css|add:'/css/pageMainwidth1210.css' %}" rel="stylesheet">
        <link href="{%  static 'styles/'|add:user.css|add:'/css/pageMainwidth700.css' %}" rel="stylesheet">
        <link href="{%  static 'styles/'|add:user.css|add:'/css/pageMainwidth360.css' %}" rel="stylesheet">
        <link href="{%  static 'styles/'|add:user.css|add:'/css/pageMainAll.css' %}" rel="stylesheet">
        <link href="{%  static 'styles/'|add:user.css|add:'/'|add:user.css_color|add:'/css/pageMainColor.css' %}" rel="stylesheet">
        <script src="{% static 'styles/'|add:user.css|add:'/js/pageLogin.js'%}"></script>
        <script src="{% static 'styles/'|add:user.css|add:'/js/pageMain.js'%}"></script>
    </head>
    <body>        
{% include "../layout/menu.html" %}


            <div id="MainPage">
            
                

                    {% block content %}
                        {% include "./calendar.html" %}

                    {% endblock %}
                    
                    <div style="clear: both;"></div>


                <div class="main-menu-add">


                    <div class="main-menu-add-single main-menu-add-mood main-menu-add-selected" id='moodSelected' onclick="SwitchMenuMoodAdd('mood')">
                        DODAJ NASTRÓJ
                    </div>
                    <div class="main-menu-add-single main-menu-add-sleep" id='sleepSelected'  onclick="SwitchMenuMoodAdd('sleep')">
                        DODAJ SEN
                    </div>
                    <div class="main-menu-add-single main-menu-add-drugs" id='drugsSelected' onclick="SwitchMenuMoodAdd('drugs')">
                        DODAJ LEK
                    </div>
                <div class="main-menu-add-single-2 main-menu-add-action" id='actionSelected' onclick="SwitchMenuMoodAdd('action')">
                        DODAJ AKCJE CAŁODNIOWĄ
                    </div>
                    <div class="main-menu-add-single main-menu-add-action" id='actionPlanedSelected' onclick="SwitchMenuMoodAdd('actionPlaned')" ">
                    ZAPLANUJ AKCJĘ
                    </div>

                </div>
                 <br>
                    {% include "./addMood.html" %}
                    {% include "./addSleep.html" %}
                    {% include "./addDrugs.html" %}
                    {% include "./addAction.html" %}
                    {% include "./addActionPlaned.html" %}
                    
                    <br><br><br><br>

                    <script>
                        window.onload=loadSesson();
                    </script>
                
            </div>

    </body>
</html>