body {
    background-color: #ffffff;/* from http://subtlepatterns.com */

}

            #MainPage {

                background-color: rgb(247 240 145 / 60%)


            }

                    .mood {
            background-color: rgba(226, 124, 8, 0.85);
            color: white;


        }
        table.actionShow {

    background-color: #fbffad;
    color: #034053;

    border: 2px solid #0E5970;
}
td.boldTitle {

    color: #531818;

    background-color: #c4d338;
}
thead.titleTheadAction {

    background-color: #f7fba3;
}
       td.tdAction {

            border-right: 2px solid #0E5970;


        }
                div.sumDrugs {

            background-color: rgb(155 134 0 / 81%);;


        }
                div.positionDrugs {

            background-color: #674100;

            color: #efffed;

        }
        div.positionDrugsDose {
            background-color: #674100;

            color: #efffed;
        }
                div.errorMainMessage {
            color: white;

            background-color: red;

            box-shadow: 6px 0  20px 8px rgba(127, 15, 15, 0.8);

        }
        .sleep {
            background-color: rgba(158, 66, 224, 0.84);
            color: white;

        }
        .drugs {
            background-color: rgb(145 129 25 / 84%);
            color: white;

        }
        .day {
            background-color: #E79959;
            color: white;
        }
        .action {
            background-color: rgb(165 98 18 / 84%);
            color: white;


        }
                a.menu {
            color: white;

        }
        a.menu:hover {
            text-decoration: underline;
            color: #E9BA10;
        }




        .btn-mood {


                border-color: #6E791A;

                color: white;

                box-shadow: 6px 6px 6px #F4E375;

        }
        .btn-mood:hover  {
                background-color: yellow;
                color: white;
                border-color: #C29713;

        }
        .btn-sleep {
                background-color: #9D1AD5;

                border-color: #6E791A;

                color: white;

                box-shadow: 6px 6px 6px #F4E375;
        }
        .btn-sleep:hover  {
                background-color: #5A047F;
                color: white;
                border-color: #C29713;

        }


        .btn-action {
                background-color: #ad6600;

                border-color: #6E791A;

                color: white;

                box-shadow: 6px 6px 6px #F4E375;
        }
        .btn-action:hover  {
                background-color: #ad6600;
                color: white;
                border-color: #C29713;

        }

        .btn-drugs {
                background-color: #978533;

                border-color: #A7D416;

                color: white;



        }
        .btn-drugs:hover  {
                background-color: #978533;
                color: white;
                border-color: yellow;

        }

        div.ajaxError {

            background-color: red;
            color: white;

}
div.ajaxSucces {

            background-color: #5BAC0B;

            color: white;

}

div.level {

        box-shadow: 0 0 8px 2px #5C5B04;

}
div.level-10 {

    background-color: #15190f;

    color: black;


}
div.levelSleep {
        background-color: #AD15CF;


    color: black;
}
div.level-9 {

    background-color: #242423;



    color: black;
}
div.level-8 {

    background-color: #41403F;


    color: black;
}
div.level-7 {

    background-color: #5C5B59;


    color: black;
}
div.level-6 {

    background-color: #72716F;


    color: black;
}

div.level-5 {

    background-color: #868273;


    color: black;
}
div.level-4 {

    background-color: #979F87;


    color: black;
}

div.level-3 {

    background-color: #A8B298;


    color: black;
}
div.level-2 {

    background-color: #C3CCB5;


    color: black;
}
div.level-1 {

    background-color: #CFCBB5;


    color: black;
}
div.level0 {

    background-color: white;


    color: black;
}
div.level1 {

    background-color: #f6f9ac;

    color: black;
}
div.level2 {

    background-color: #f5f988;

    color: black;
}
div.level3 {

    background-color: #dfe365;


    color: black;

}
div.level4 {

    background-color: #e5ea50;


    color: black;
}
div.level5 {

    background-color: #d8de3b;


    color: black;
}
div.level6 {

    background-color: #cdd410;


    color: black;
}
div.level7 {

    background-color: #999f00;


    color: black;
}
div.level8 {

    background-color: #9ae021;


    color: black;
}
div.level9 {

    background-color: #84c80f;


    color: black;
}
div.level10 {

    background-color: #08F608;


    color: black;
}
     span.MessageError {
            color: #FB0303;

        }
                button:disabled, button.disable {
                            background-color: #D92A2A;

                border-color: #6E791A;

                color: white;

                box-shadow: 6px 6px 6px #F4E375;

        }
        div.descriptionModShowMood {
    background-color: #6D6D21;

    color: white;

}
        div.titleActionShowAjax {
            background-color: #897517;


        }
        div.titleDrugsShowAjax {
            background-color: #cda901;

        }
        td.titleAction {
        background-color: #711f08;



}
       div.positionAction {

            color: #3F5B0B;

        }
        div.leveAction0 {
    background-color:  #969682;
}
div.leveAction1 {
    background-color: #BBBCA9;
}
div.leveAction2 {
    background-color: #BCBCBC;
}
div.leveAction3 {
    background-color: #CCCBB7;
}
div.leveAction4 {
    background-color: #EAEAE3;
}
div.leveAction5 {
    background-color: #E9EAD7;
}
div.leveAction6 {
    background-color: #F7F7EA;
}
div.leveAction7 {
    background-color: #F4F2BA;
}
div.leveAction8 {
    background-color: #F2EF9D;
}
div.leveAction9 {
    background-color: #F7F981;
}
div.leveAction10 {
    background-color: #F9DE54;
}

td.titleDrugs {
        background-color: #9f7400;



}


.drugssShowModShow {
        background-color: #e9e34d;

-webkit-box-shadow: 0px 0px 18px 1px #235902;
-moz-box-shadow: 0px 0px 18px 1px #235902;
box-shadow: 0px 0px 18px 1px #a7560b;
}
.actionShowModShow {
    background-color: #c9c965;

-webkit-box-shadow: 0px 0px 18px 1px rgba(10, 44, 105, 1);
-moz-box-shadow: 0px 0px 18px 1px rgba(10, 44, 105, 1);
box-shadow: 0px 0px 18px 1px rgb(151 81 17);
}
div.cellBorder {

    box-shadow: 0px 0px 4px 3px rgba(64,66,29,0.47);
}
div.cell100 {

    background-color: #A55188;



}
div.cell-10 {

    background-color: #15190f;



}
        div.cell100000 {

            background-color: #6AC5E0;


        }
div.cell-9 {

    background-color: #242423;


}
div.cell-8 {

    background-color: #41403F;



}
div.cell-7 {

    background-color: #5C5B59;



}
div.cell-6 {

    background-color: #72716F;



}

div.cell-5 {

    background-color: #868273;



}
div.cell-4 {

    background-color: #979F87;


}

div.cell-3 {

    background-color: #A8B298;


}
div.cell-2 {

    background-color: #C3CCB5;



}
div.cell-1 {

    background-color: #E2E3C3;



}
div.cell0 {

    background-color: white;



}
div.cell1 {

    background-color: #F4F7B4;



}
div.cell2 {

    background-color: #EEF395;



}
div.cell3 {

    background-color: #F2F683;



}
div.cell4 {

    background-color: #EFF66E;



}
div.cell5 {

    background-color: #F2FA50;



}
div.cell6 {

    background-color: #F4FF23;



}
div.cell7 {

    background-color: #CAFB26;

}
div.cell8 {

    background-color: #A8EB2D;

}
div.cell9 {

    background-color: #A7F400;


}
div.cell10 {

    background-color: #39F400;

}

table.moodShow, td.showMood, td.moodButton {
   border: 2px solid #2b2202;


}
table.drugsShow, td.showDrugs, td.drugsButton {
    border: 2px solid #2b2202;


}
table.drugsShow, td.drugsShow, td.drugsButton {
   border: 2px solid #2b2202;


}
table.showAction, td.showAction, td.showAction {
    border-top: 5px solid #87663c;

}
table.actionShowIdMood {


    color: white;;



}
table.moodShow {

    background-color: rgb(249 243 191 / 60%);
    color: #775807;

}
td.showMood {
    border-top: 5px solid #626222;

}
td.showDrugs {
    border-top: 5px solid #626222;

}
td.showAction {
    border-top: 5px solid #012936;

}
td.showdrugs {
    border-top: 5px solid #2b2202;
}
td.titleTheadMood {

    background-color: rgb(218, 240, 106);

}
td.titleTheadDrugs {

    background-color: #ffdf70;

}
.user {
    background-color:  rgb(149 109 1);
    color: white;


}